<li class="list-group-item">
<div class="row">
<div class="col-md-2 col-xs-2">
    <% if(topic.reply) {%>
      <a class="pull-left" href="/user/<%= topic.reply.author.name %>">
        <img class="img-circle" width="32" src="<%= topic.reply.author.avatar_url %>"
          title="<%= topic.reply.author.name %>"
        />
      </a>
    <% } %>
    <% if(!topic.reply) {%>
      <a class="pull-left" href="/user/<%= topic.author.name %>">
        <img class="img-circle" width="32" src="<%= topic.author.avatar_url %>"
          title="<%= topic.author.name %>"
        />
      </a>
    <% } %>
</div>
  <div class='col-md-1 col-xs-1'>
    <a href="/topic/<%= topic._id %><%- topic.reply ? '#' + topic.reply._id : '' %>"title="回复数"><%= topic.reply_count %></a
      >/<span title='点击数'><%= topic.visit_count %></span>
  </div>

  <div class='col-md-7 col-xs-7'>
    <!--<%- partial('tag/tag_in_abstract',{collection:topic.tags, as:'tag'}) %>-->
    <% if (topic.top) { %>
      <span class='badge'>置顶</span>
    <% } %>
    <a class='' href='/topic/<%= topic._id %>'>
      <%- topic.title.replace(/^[\[【](.*?)[\]】](.*)/g, "<span class='label label-primary'>$1</span>$2") %>
    </a>
  </div>
  <% if(topic.reply) {%>
    <div class='col-md-2 col-xs-2'><%= topic.reply.friendly_create_at %></div>
  <% } %>
  <% if(!topic.reply) {%>
    <div class='col-md-2 col-xs-2'><%= topic.friendly_create_at %></div>
  <% } %>
</div>
</li>
