<%- partial('sidebar') %>
  <div class="page-header"><h1></h1></div>
  <div class="panel panel-default">
      <div class="panel-heading">
        当前话题
        <% if (locals.current_user) { %>
          <a href='/topic/create' id='create_topic_btn'>
            <button class='btn btn-success'>发布话题</button>
          </a>
        <% } %>
      </div>
      <div class="panel-body">
      <% if (locals.current_user) { %>
        <% if (locals.topics && topics.length > 0) { %>
        <%- partial('topic/list', {
            topics: topics,
            pages: pages,
            current_pages: current_page,
            base: keyword ? ('/?q=' + keyword) : '/'
        }) %>
        <% } else { %>
        <div class='inner'>
            <p>无话题</p>
        </div>
        <% } %>
      <% } else { %>
      <div class='inner'>
          <p>login to view</p>
      </div>
      <% } %>
      </div>
  </div>
