<div id='sidebar'>
  <!--<div class='panel'>
    <% if (locals.user || locals.current_user) { %>
      <div class='header'>
        <span class='col_fade'>个人信息<span>
      </div>
      <div class='inner'>
        <%- partial('user/card',{ object: locals.user || locals.current_user, as: 'user' }) %>
      </div>
    <% } %>
  </div>-->

  <% if (locals.hot_tags) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>热门标签</span>
    </div>
    <div class='inner'>
      <% if (hot_tags.length > 0) { %>
      <%- partial('tag/tag_with_count', { collection: hot_tags, as: 'tag' }) %>
      <% } else { %>
      <p>无</p>
      <% } %>
    </div>
  </div>
  <% } %>


  <% if (config.site_links && config.site_links.length > 0) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>相关站点</span>
    </div>
    <div class='inner'>
      <ul class='unstyled'>
        <% config.site_links.forEach(function (site) { %>
        <li><a href='<%= site.url %>' target='_blank'><%= site.text %></a></li>
        <% }); %>
      </ul>
    </div>
  </div>
  <% } %>


  <% if (config.side_ads && config.side_ads.length > 0) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>友情社区 | 赞助商</span>
    </div>
    <% config.side_ads.forEach(function (ad) { %>
    <div class='inner'>
      <a href="<%- ad.url %>" title="<%= ad.text %>" target='_blank'>
        <img src="<%- ad.image %>" />
      </a>
    </div>
    <% }); %>
  </div>
  <% } %>

</div>
