<div id='content'>
  <div class='panel'>
    <div class='inner topic'>
      <div class='topic_content'>
        <%- markdown(topic.linkedContent) %>
      </div>
    </div>
  </div>
  <% if (topic.replies && topic.replies.length > 0) { %>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'><%= topic.replies.length %> 回复</span>
    </div>
    <%- partial('../reply/reply', topic.replies) %>
  </div>
  <% } %>
</div>

<div class="replies_history">
  <div class="inner_content"></div>
  <div class="anchor"></div>
</div>
